@import "compass/reset"
@import "compass/css3"
@import "compass/utilities/"

*
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
	
$tan: #f7f4e7
$brown: #704f40
$red: #d85b00
	
$fs: 16px
$lh: 24px

@mixin island($lh)
	margin-bottom: $lh
	
	& :last-child
		margin-bottom: 0
	
body
	font-size: $fs
	line-height: $lh
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif
	background: $tan
	color: $brown
	
	a
		@include link-colors($red, $red, $red, $red, $red)

#container
	max-width: 756px
	margin: 0 auto
	padding: 20px
	
	h1
		font-size: $fs * 2
		line-height: $lh * 2
		margin-bottom: $lh
		@include island
		
	p 
		margin-bottom: $lh
		@include island
	
	.left, .right
		@include island($lh)
		width: 100%
		float: none
		overflow: auto
	
		@media (min-width: 756px)
			width: 47.5%
			overflow: auto
				
	.left 
		@media (min-width: 756px)
			float: left
			
	.right 
		@media (min-width: 756px)
			float: right
		
	.island
		@include island($lh)
		overflow: auto
		
	figure
		width: 100%
		width-max: 100%
		float: left
		
		img
			width: 100%
			max-width: 100%
		
		@media (min-width: 756px)
			width: 47.5%
			width-max: 47.5%
			
			&:nth-child(1)
				margin-right: 5%
		
		figcaption
			@include island($lh / 2)
		
.texture
	background: $red
	@include link-colors($tan, $tan, $tan, $tan, $tan)
	width: 100%
	display: block
	text-align: center
	line-height: $lh*5
	@include border-radius(5px)
	text-decoration: none
	font-weight: bold
	font-size: $fs*3
	border: 2px solid darken($red, 20%)
	
	&:hover
		text-decoration: underline
		
footer
	clear: both
	overflow: auto
	text-align: center
	margin: ($lh*2) 0